---
import { Player } from "../components/Player";
import { Icon } from "astro-icon";
import Layout from "../layouts/Landing.astro";
import { Content as FullExample } from "../components/FullExample.md";
---

<Layout
  title="A npm package that makes audio handling easier for React and Svelte could be a useful tool for developers looking to incorporate audio functionality into their web applications"
  desc="Easily handle audio urls in your browser applications with our audio handling npm package. Features include support for Svelte and React."
>
  <section class="mt-14 text-center">
    <h2 class="text-3xl font-semibold text-zinc-900 text-center">
      Powerful and Flexible Headless Audio Player for React and Svelte
    </h2>
    <h3 class="text-zinc-600">
      Easily handle audio urls in your browser applications with our audio
      handling npm package.
    </h3>
  </section>
  <section class="w-full flex items-center flex-col mt-10">
    <div class="w-full max-w-[500px]">
      <Player client:load />
    </div>
  </section>
  <section class="w-full text-center mt-10">
    <p class="font-semibold text-2xl">Getting started with...</p>
    <div class="flex justify-center gap-x-2 mt-4">
      <a
        href="/react/getting-started"
        class="p-4 group hover:scale-110 hover:rotate-12 transition-transform duration-200"
      >
        <Icon pack="logos" name="react" width={80} height={80} />
        <p
          class="text-blue-500 mt-2 font-semibold text-lg group-hover:underline decoration-blue-500"
        >
          React
        </p>
      </a>
      <a
        href="/svelte/getting-started"
        class="p-4 group hover:scale-110 hover:rotate-12 transition-transform duration-200"
      >
        <Icon pack="logos" name="svelte-icon" width={80} height={80} />
        <p
          class="text-orange-500 mt-2 font-semibold text-lg group-hover:underline decoration-orange-500"
        >
          Svelte
        </p>
      </a>
    </div>
  </section>
  <section class="mt-10">
    <h4 class="text-center font-semibold text-2xl">
      Do you want to build the player above?
    </h4>
    <p class="mb-10 text-center text-zinc-600">
      Following example with React and Tailwind
    </p>
    <div class="markdown-body">
      <FullExample />
    </div>
  </section>
</Layout>
